    .bestproductcolumn img {
        max-width: 340px;
        max-height: 380px;
    }

    .instaImage img {
        max-height: 50px;
        max-width: 50px;
    }

    .blackborder {}

    .backImage {
        background-image: url(../images/cactusexample.jpg);
        width: 100%;
        height: 800px;
        background-repeat: none;
        background-position: center;
        background-size: cover;

    }

    .sideNavbar {
        background-color: silver;
        border: 2px solid silver;
    }

    .paymentOptions img {
        max-width: 50px;
        max-height: 30px;
        width: 50px;
    }

    .navbar {
        margin-bottom: 0;
        border-radius: 0;
        background-color: #5E4485;
        color: #FFFFFF;
        padding: 0.3%;
        font-size: 1.2em;
        border: 0;
        padding-right: 5%;
    }

    .formBackground {
        background-color: silver;
    }

    .green-text {
        color: #4caf50;
    }

    .shoppingCartBadge {}

    #totalCell {
        background-color: silver;
    }

    .formContainer {
        background-color: white;
        border-radius: 25px;
        padding-left: 2%;
    }

    .alexisTexis {
        background-color: red;
    }

    .form-control:focus {
        border-color: #FF0000;
        box-shadow: none;
    }

    .searchButton {
        background-color: white;
    }

    .searchButton:active {
        box-shadow: none;
    }

    .bestSellingRow {}

    .sideNavbar a {
        text-decoration: none;
        color: green;
        padding-top: 50px;
        margin-top: 50px;
    }

    .navbar-brand {
        float: left;
        padding: 0 0 0 2%;
    }

    ul.navbar-nav {
        margin-left: 5%;
    }

    .navbar-brand img {
        max-height: 200px;
    }

    .bestproductsrow {
        margin-top: 3%;
    }

    .navbar-inverse .navbar-nav .active a,
    .navbar-inverse .navbar-nav .active a:focus,
    .navbar-inverse .navbar-nav .active a:hover {
        color: #FFF;
        background-color: #5E4485;
    }

    .fa-shopping-cart {
        margin-left: 2%;
    }

    .fa-user-circle {
        margin-left: 3%;
    }

    .form-control {
        border: 0px;
    }

    .welcomeMessage {

        background-color: #F8F9FA;
        font-size: small;
        /*background-color: rgba(192, 192, 192, 0.3);*/
    }

    /*.welcomeBackground {*/

    /*background-image: url("images/cactusBackgroundFunny.jpg");*/

    /*    background-repeat: no-repeat;*/

    /*    background-size: cover;*/

    /*    padding: 24px 0px 0px 0px;*/

    /*}*/

    /* --  FOOTER -- */

    .footerTest {

        height: 100px;
        width: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        background-color: #666666;
        color: #A9A9A9;

    }

    .limenu {
        color: #ffffff;
        font-size: 20px;

    }

    .bottom-footer {
        border-top: 2px solid #ffffff;
        padding-top: 10px;
        color: #A9A9A9;

    }

    .footer-nav {
        color: #A9A9A9;
        padding-top: 25px;
    }

    .footer-nav a {
        color: #A9A9A9;
    }

    .footer-nav a:hover {
        color: #ffffff;
        text-decoration: none;
    }


    .footer-nav li:not(:first-child):before {
        content: '|';
        padding: 0px 10px;

    }

    .sticky-top {
        top: 0.5em;
    }

    .sticky-bottom {
        position: fixed;
        bottom: 10%;
    }

    .spaceBarHint {
        width: 40%;
        height: 100px;
        opacity: 0.5;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .sticky-upper-middle {
        position: fixed;
        align-items: center;
        justify-content: center;
        display: flex;
        top: -10%;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 4;
    }

    #silentText {
        visibility: hidden;
    }

    .sticky-middle {
        position: fixed;
        align-items: center;
        justify-content: center;
        display: flex;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 4;
    }

    #overlay {
        position: fixed;
        /* Sit on top of the page content */
        display: none;
        /* Hidden by default */
        width: 100%;
        /* Full width (cover the whole page) */
        height: 100%;
        /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.6);
        /* Black background with opacity */
        /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer;
        /* Add a pointer on hover */
    }

    /*END FOOTER*/

    /* spacebar functionality */

    #myProgress {
        width: 100%;
        background-color: #ddd;
    }

    #myBar {
        width: 1%;
        height: 10px;
        background-color: #4CAF50;
    }

    .green {
        width: 0px;
        height: 10px;
        background-color: green;
        animation-name: progressBar;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-play-state: paused;
    }

    @keyframes progressBar {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }

    .footer {
        width: 100%;
        height: 150px;
        bottom: 0;

    }

    .pussyCat {
        background-color: gray;
        padding: 0px;
    }

    /* LOGIN PAGE */

    .colorPanel {
        background: linear-gradient(-210deg, rgba(224, 255, 255), rgba(220, 220, 220));
        border: black;
        padding: 30px;
        border-radius: 20px;
    }

    @media only screen and (max-width: 992px) {
        .cactusBanner {
            max-width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    @media only screen and (max-width: 775px) {
        .cactusLogo {
            width: 100px;
            height: 100px;
        }


    }
    